<footer class="page-footer">
    <div class="container">
        <div class="top-wrapper">
            <div class="content-left">
                <a href="" class="logo-wrapper">logo</a>
            </div>
            <div class="content-right">
                <p> Trung tâm Thông tin công tác Tuyên giáo. </p>
                <p>Địa chỉ: Số 2B Hoàng Văn Thụ, Ba Đình, Hà Nội.</p>
                <p>Điện thoại: 080.45959 / 0904.444.066 - Fax: 080.45613.</p>
            </div>
        </div>
        <div class="bottom-wrapper">
            <div class="content-left">
                <p>Giấy phép số: /GP-BTTTT do Bộ Thông tin - Truyền thông
                    cấp ngày</p>
                <p>Trưởng ban Biên tập: Tên Trưởng ban Biên tập.</p>
                <p>Phó Trưởng ban Biên tập: Tên Phó Trưởng ban Biên tập.</p>
                <p>Thư ký ban Biên tập: Tên Thư ký ban Biên tập.</p>
            </div>
            <div class="content-right">
                <p>Trung tâm Kỹ thuật Thông tấn.</p>
                <p>Địa chỉ: Số 5 Lý Thường Kiệt, Hoàn Kiếm, Hà Nội.</p>
                <p>Điện thoại: 02439.333.263</p>
            </div>
        </div>
    </div>
</footer>