<footer class="page-footer">
    <h2>
        <a href="" class="logo">logo-footer</a>
    </h2>
    <div class="wrapper">
        <span>Giấy phép số: /GP-BTTTT do Bộ Thông tin - Truyền thông
            cấp ngày</span>
        <span>Trưởng ban Biên tập: Tên Trưởng ban Biên tập.</span>
        <span>Phó Trưởng ban Biên tập: Tên Phó Trưởng ban Biên tập.</span>
        <span>Thư ký ban Biên tập: Tên Thư ký ban Biên tập.</span>
    </div>
    <div class="wrapper">
        <span class="bold">Trung tâm Thông tin công tác Tuyên giáo.</span>
        <span>Địa chỉ: Số 2B Hoàng Văn Thụ, Ba Đình, Hà Nội.</span>
        <span>Điện thoại: 080.45417 / 080.45342 - Fax: 080.45613.</span>
    </div>
    <div class="wrapper">
        <span class="bold">Trung tâm Kỹ thuật Thông tấn.</span>
        <span>Địa chỉ: Số 5 Lý Thường Kiệt, Hoàn Kiếm, Hà Nội.</span>
        <span>Điện thoại: 02439.333.263</span>
    </div>
</footer>