// > layout
.container {
    width: 1170px !important;
    max-width: 1170px !important;
}
.site-body {
    margin-top: 56px;
    margin-bottom: 50px;
}

.col-wrapper {
    display: flex;
    justify-content: space-between;
    
    .main-col {
        width: 840px;
    }
    .sub-col {
        width: 300px;
    }
}
