// style index ( momentary )
.index-page {
  .heading {
    font-size: 40px;
    font-weight: $font-weight-bold;
    text-transform: uppercase;
  }

  ul {
    margin-top: 40px;

    li {
      list-style-type: space-counter;
    }

    a {
      font-size: 16px;
      text-transform: capitalize;
      padding-left: 10px;
    }
  }
}

.promo-wrapper {
  margin-bottom: 30px;
  text-align: center;
}

// scroll
// INFO :  style for scroll
.scroll::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 3px rgba(255, 255, 255, 0.15);
  ;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.15);
}

.scroll::-webkit-scrollbar {
  height: 3px;
  width: 3px;
  background: #413836;
}

.scroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 3px #B40C0E;
  background-color: #B40C0E;
}

// style nav tab
.tab-pane {
  display: none;

  &.active {
    display: block;
  }
}

.bold {
  font-weight: $font-weight-bold !important;
}

// breadcumbs

.breadcrumbs-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;

  .breadcrumbs,
  .cate {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .breadcrumbs {
    a {
      font-weight: $font-weight-normal;
      font-size: 16px;
      line-height: 19px;
      color: #413836;
      margin-left: 15px;
      padding-left: 20px;
      position: relative;

      &::before {
        position: absolute;
        content: "/";
        width: 2px;
        height: 16px;
        top: 0;
        left: 0;
      }

      &:hover {
        color: #e33a3c;
      }
    }

    li:first-child {
      a {
        margin-left: 0;
        padding-left: 0;

        &::before {
          display: none;
        }
      }
    }

    .active {
      font-weight: $font-weight-bold;
      font-size: 24px;
      line-height: 28px;
      text-transform: uppercase;
      color: #413836;
    }
  }

  .cate {
    a {
      font-weight: $font-weight-normal;
      font-size: 13px;
      line-height: 15px;
      color: #413836;
      position: relative;
      padding-left: 12px;
      margin-left: 18px;

      &.active,
      &:hover {
        color: #e33a3c;
        text-decoration: underline;
      }

      &::before {
        position: absolute;
        content: "";
        width: 4px;
        height: 4px;
        top: 5px;
        border-radius: 50%;
        left: 0;
        background-color: #e33a3c;
      }
    }
  }
}

// load-more
.load-more-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.load-more {
  background: #e33a3c;
  border-radius: 20px;
  font-weight: $font-weight-medium;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  width: 180px;
  height: 40px;
  transition: 0.5s;

  &:hover {
    background-color: #6b0001;
  }
}

// main style
body {
  font-size: 14px;
}

.zone-1 {
  background: #fff6de;
  border-radius: 3px;
  width: calc(100% - 20px);
  margin: 0 auto;
  padding: 30px 115px 35px;
  margin-bottom: 30px;

  .box-heading {
    display: flex;
    justify-content: space-between;
  }

  .heading {
    @include style-heading();
  }

  .sub-menu {
    display: flex;

    a {
      font-weight: $font-weight-normal;
      font-size: 14px;
      line-height: 16px;
      color: #666666;
      padding: 9px 20px;
      background: rgba(255, 255, 255, 0.8);
      border-radius: 20px;
      display: block;
      margin-right: 10px;
      transition: 0.5s;

      &.active,
      &:hover {
        color: #fff;
        background-color: #e33a3c;
      }
    }
  }

  .box-content {
    margin-top: 20px;
  }

  .content-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .story {
    width: 210px;
    height: 280px;
    position: relative;

    &:first-child {
      width: 450px;

      .story__thumb {
        width: 450px;
        height: 280px;
      }

      .story__heading a {
        font-weight: $font-weight-bold;
        font-size: 22px;
        line-height: 28px;
      }
    }

    &__thumb {
      width: 210px;
      height: 280px;
      position: relative;

      &::after {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
      }
    }

    &__heading {
      position: absolute;
      bottom: 18px;
      width: calc(100% - 40px);
      right: 50%;
      transform: translateX(50%);

      a {
        font-weight: $font-weight-medium;
        font-size: 16px;
        line-height: 22px;
        color: #ffffff;

        &:hover {
          color: #ccc !important;
        }
      }
    }
  }
}

.box-news {
  margin-bottom: 30px;

  .box-heading {
    margin-bottom: 20px;
  }

  .wrap-heading {
    @include bottom-heading();
  }

  .heading {
    padding-right: 10px;
    background: #fff;
    z-index: 1;
    @include style-heading();
  }

  .box-content {
    display: flex;
    justify-content: space-between;
  }

  .story {
    width: 260px;

    &__thumb {
      width: 260px;
      height: 173px;
    }

    &__heading a {
      font-weight: $font-weight-medium;
      font-size: 16px;
      line-height: 22px;
      color: #413836;
      padding-top: 10px;
    }
  }
}

.catepage-wrapper,
.searchpage-wrapper {
  .load-more-wrapper {
    padding-top: 30px;
    margin-top: 30px;
    border-top: 1px solid #eeeeee;
  }
}

.searchpage-wrapper {
  .box-timeline {
    padding-top: 0;
    border-top: none;
  }
}

.box-timeline {
  padding-top: 30px;
  border-top: 1px solid #eeeeee;

  .story {
    margin-top: 30px;
    padding-top: 30px;
    border-top: 1px solid #eeeeee;

    &:first-child {
      margin-top: 0;
      padding-top: 0;
      border-top: none;
    }

    &__thumb {
      width: 260px;
      height: 173px;
      float: left;
      margin-right: 25px;
    }

    &__meta a {
      font-weight: $font-weight-normal;
      font-size: 13px;
      line-height: 18px;
      text-transform: uppercase;
      color: #e33a3c;
    }

    &__heading a {
      font-weight: $font-weight-bold;
      font-size: 22px;
      line-height: 28px;
      color: #413836;
      padding-top: 3px;
    }

    &__summary {
      margin-top: 8px;
      font-weight: $font-weight-normal;
      font-size: 14px;
      line-height: 22px;
      color: #888888;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 5;
      /* number of lines to show */
      line-clamp: 5;
      -webkit-box-orient: vertical;
    }
  }
}

.box-hot-news {
  margin-bottom: 30px;

  .box-heading {
    margin-bottom: 20px;
  }

  .heading {
    @include read-heading();
  }

  .box-content {
    .story {
      margin-top: 20px;
      padding-top: 20px;
      border-top: 1px solid #eee;

      &:first-child {
        margin-top: 0;
        padding-top: 0;
        border-top: none;
        background: url(../img/number-1.png) bottom right/45px no-repeat;
      }

      &:nth-child(2) {
        background: url(../img/number-2.png) bottom right/59px no-repeat;
      }

      &:nth-child(3) {
        background: url(../img/number-3.png) bottom right/59px no-repeat;
      }

      &:nth-child(4) {
        background: url(../img/number-4.png) bottom right/59px no-repeat;
      }

      &:nth-child(5) {
        background: url(../img/number-5.png) bottom right/59px no-repeat;
      }

      &__thumb {
        width: 110px;
        height: 73px;
        float: left;
        margin-right: 15px;
      }

      &__heading a {
        font-weight: $font-weight-normal;
        font-size: 14px;
        line-height: 20px;
        color: #413836;
      }
    }
  }
}

.box-calendar {
  background: #f7f7f7;
  border-radius: 3px;

  .heading {
    @include read-heading();
    overflow: hidden;
  }

  .box-content {
    padding: 14px 20px 24px;

    .story {
      margin-top: 16px;

      &:first-child {
        margin-top: 0;
      }

      &__heading a {
        font-weight: $font-weight-normal;
        font-size: 14px;
        line-height: 22px;
        color: #222222;
        position: relative;
        padding-left: 14px;

        &::before {
          position: absolute;
          content: "";
          width: 4px;
          height: 4px;
          border-radius: 50%;
          background: #e33a3c;
          left: 0;
          top: 8px;
        }
      }
    }
  }
}

.zone-2 {
  margin-bottom: 50px;
}

.box-multimedia {
  background: #413836;
  border-radius: 3px;
  width: calc(100% - 20px);
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 30px 0 24px;

  .box-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }

  .heading {
    @include style-heading();
    color: #fff !important;
  }

  .cate {
    display: flex;

    a {
      width: 76px;
      height: 34px;
      background: rgba(255, 255, 255, 0.8);
      border-radius: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: "Roboto";
      font-weight: $font-weight-normal;
      font-size: 14px;
      line-height: 16px;
      color: #666666;
      margin-left: 10px;
      transition: 0.5s;

      &.active,
      &:hover {
        background: #e33a3c;
        color: #fff;
      }
    }
  }

  .content-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .rank-1 {
    width: 700px;

    .story {
      &__thumb {
        width: 700px;
        height: 394px;
        position: relative;
      }

      .icon-video {
        background: url(../img/icon-player.png) rgba(0, 0, 0, 0.3) center center/30px no-repeat !important;
        width: 80px;
        height: 80px;
        border: 1px solid #FFFFFF;
        position: absolute;
        border-radius: 50%;
        top: 293px;
        left: 20px;
      }

      &__heading a {
        font-weight: $font-weight-bold;
        font-size: 28px;
        line-height: 34px;
        color: #FFFFFF;
        padding-top: 15px;
      }
    }
  }

  .rank-2 {
    width: 440px;
    height: 460px;
    overflow-y: scroll;

    .story {
      margin-top: 20px;
      padding-top: 20px;
      border-top: 1px solid;
      border-color: rgba(255, 255, 255, 0.15);

      &:first-child {
        margin-top: 0;
        padding-top: 0;
        border-top: none;
      }

      &__thumb {
        width: 150px;
        height: 100px;
        float: left;
        margin-right: 15px;
      }

      &__heading a {
        font-weight: $font-weight-normal;
        font-size: 16px;
        line-height: 22px;
        color: #DDDDDD;

        .icon {
          top: 2px;
        }
      }
    }
  }

}

.box-info {
  margin-bottom: 40px;

  // style heading
  .box-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-bottom: 20px;
  }

  .wrap-heading {
    @include bottom-heading();
  }

  .heading {
    @include style-heading();
    padding-right: 10px;
    background: #fff;
    z-index: 1;
  }

  .see-more {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    font-weight: $font-weight-normal;
    font-size: 13px;
    line-height: 15px;
    color: #e33a3c;
    padding-right: 12px;
    background: url(../img/red-arrow.png) center right/6px no-repeat;
  }

  // end

  .rank-1 {
    margin-bottom: 25px;

    .story {
      &__thumb {
        width: 405px;
        height: 228px;
        float: left;
        margin-right: 25px;
      }

      &__heading a {
        font-weight: $font-weight-bold;
        font-size: 22px;
        line-height: 28px;
        color: #413836;
      }

      &__time {
        display: block;
        padding-top: 10px;
        font-weight: $font-weight-normal;
        font-size: 13px;
        line-height: 18px;
        color: #888888;
      }

      &__summary {
        margin-top: 10px;
        font-weight: $font-weight-normal;
        font-size: 14px;
        line-height: 22px;
        color: #888888;
      }
    }
  }

  .rank-2 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .story {
      width: calc(50% - 15px);

      &:not(:nth-child(-n + 2)) {
        margin-top: 21px;
        padding-top: 21px;
        border-top: 1px solid #eee;
      }

      &__thumb {
        width: 110px;
        height: 73px;
        float: left;
        margin-right: 15px;
      }

      &__heading a {
        font-weight: $font-weight-medium;
        font-size: 16px;
        line-height: 22px;
        color: #413836;
      }
    }
  }
}

.box-featured {
  background: #f7f7f7;
  border-radius: 3px;
  padding: 20px 20px 30px;
  margin-bottom: 30px;

  .box-heading {
    margin-bottom: 13px;
  }

  .meta {
    font-family: "Raleway";
    font-weight: $font-weight-semibold;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    color: #413836;
  }

  .heading {
    font-family: "Raleway";
    font-weight: $font-weight-bold;
    font-size: 22px;
    line-height: 30px;
    text-transform: uppercase;
    color: #e33a3c;
    position: relative;

    &::after {
      position: absolute;
      content: "";
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: #e33a3c;
      top: 50%;
      transform: translateY(-50%);
      margin-left: 16px;
    }
  }

  .list-wrapper {
    .story {
      margin-top: 21px;
      padding-top: 21px;
      border-top: 1px solid #ddd;

      &:first-child {
        margin-top: 0;
        padding-top: 0;
        border-top: none;
      }

      &__thumb {
        width: 110px;
        height: 73px;
        float: left;
        margin-right: 15px;
      }

      &__heading a {
        font-weight: $font-weight-normal;
        font-size: 14px;
        line-height: 20px;
        color: #413836;
      }
    }
  }

  .highlight-wrapper {
    margin-bottom: 21px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ddd;

    .story {
      &__thumb {
        height: 173px;
      }

      &__heading a {
        font-weight: $font-weight-medium;
        font-size: 16px;
        line-height: 22px;
        color: #413836;
        margin-top: 10px;
      }
    }
  }
}

.box-info-second {
  margin-bottom: 30px;

  // style heading
  .box-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-bottom: 20px;
  }

  .wrap-heading {
    @include bottom-heading();
  }

  .heading {
    @include style-heading();
    padding-right: 10px;
    background: #fff;
    z-index: 1;
  }

  .see-more {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    font-weight: $font-weight-normal;
    font-size: 13px;
    line-height: 15px;
    color: #e33a3c;
    padding-right: 12px;
    background: url(../img/red-arrow.png) center right/6px no-repeat;
  }

  // end
  .box-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .story {
    width: 187px;

    &__thumb {
      width: 187px;
      height: 125px;
    }

    &__heading a {
      font-weight: $font-weight-medium;
      font-size: 16px;
      line-height: 22px;
      color: #413836;
      padding-top: 10px;
    }
  }
}

.box-info-primary {
  margin-bottom: 30px;

  // style heading
  .box-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-bottom: 20px;
  }

  .wrap-heading {
    @include bottom-heading();
  }

  .heading {
    @include style-heading();
    padding-right: 10px;
    background: #fff;
    z-index: 1;
  }

  .see-more {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    font-weight: $font-weight-normal;
    font-size: 13px;
    line-height: 15px;
    color: #e33a3c;
    padding-right: 12px;
    background: url(../img/red-arrow.png) center right/6px no-repeat;
  }

  // end
  .box-content {
    display: flex;
    justify-content: space-between;
  }

  .rank-1,
  .rank-2 {
    width: 405px;
  }

  .rank-1 {
    .story {
      &__thumb {
        width: 405px;
        height: 228px;
      }

      &__heading a {
        font-weight: $font-weight-bold;
        font-size: 22px;
        line-height: 28px;
        color: #413836;
        padding-top: 16px;
      }

      &__time {
        font-weight: $font-weight-normal;
        font-size: 13px;
        line-height: 18px;
        color: #888888;
        margin-top: 10px;
      }

      &__summary {
        margin-top: 10px;
        font-weight: $font-weight-normal;
        font-size: 14px;
        line-height: 22px;
        color: #888888;
      }
    }
  }

  .rank-2 {
    .story {
      margin-top: 30px;

      &:first-child {
        margin-top: 0;
      }

      &__thumb {
        width: 187px;
        height: 125px;
        float: left;
        margin-right: 20px;
      }

      &__heading a {
        font-weight: $font-weight-medium;
        font-size: 16px;
        line-height: 22px;
        color: #413836;
      }
    }
  }
}

.abf-detail {
  margin-bottom: 30px;

  .box-content {
    display: flex;
    justify-content: space-between;
  }

  .rank-1 {
    width: 570px;

    .story {
      &__thumb {
        width: 570px;
        height: 380px;
      }

      &__heading a {
        font-weight: $font-weight-bold;
        font-size: 28px;
        line-height: 36px;
        color: #413836;
        padding-top: 15px;
      }

      &__time {
        display: block;
        padding-top: 10px;
        font-weight: $font-weight-normal;
        font-size: 13px;
        line-height: 18px;
        color: #888888;
      }

      &__summary {
        margin-top: 10px;
        font-weight: $font-weight-normal;
        font-size: 14px;
        line-height: 22px;
        color: #888888;
      }
    }
  }

  .rank-2 {
    width: 570px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .story {
      width: 270px;

      &__thumb {
        width: 270px;
        height: 180px;
      }

      &__heading a {
        font-weight: $font-weight-medium;
        font-size: 16px;
        line-height: 22px;
        color: #413836;
        padding-top: 10px;
      }
    }
  }
}

.keyword-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f7f7f7;
  border-radius: 3px;
  padding: 0 20px;
  height: 50px;
  margin-bottom: 30px;

  .focused-text {
    color: #e33a3c;
  }

  .key {
    font-weight: $font-weight-normal;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #413836;

    span {
      text-transform: uppercase;
    }
  }

  .result {
    font-weight: $font-weight-normal;
    font-size: 14px;
    line-height: 16px;
    text-align: right;
    color: #666666;
  }
}

.multimedia-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;

  .story {
    width: 270px;
    margin-right: 30px;
    overflow: auto;

    &:nth-child(4n-4) {
      margin-right: 0;
    }

    &:not(:nth-child(-n + 4)) {
      margin-top: 30px;
    }

    &__thumb {
      width: 270px;
      height: 180px;
    }

    &__heading a {
      font-weight: $font-weight-medium;
      font-size: 16px;
      line-height: 22px;
      color: #413836;
      padding-top: 10px;
    }
  }
}

.box-suggestion {
  width: calc(100% - 40px);
  background: #f7f7f7;
  border-radius: 3px;
  padding: 34px 0;
  margin: 0 auto;

  .box-heading {
    margin-bottom: 19px;
  }

  .heading {
    @include style-heading();
  }

  .box-content {
    display: flex;
    flex-wrap: wrap;
  }

  .story {
    width: 270px;
    margin-right: 30px;

    &:nth-child(4n-4) {
      margin-right: 0;
    }

    &:nth-child(n + 5) {
      margin-top: 30px;
    }

    &__thumb {
      width: 270px;
      height: 180px;
    }

    &__heading a {
      font-weight: $font-weight-medium;
      font-size: 16px;
      line-height: 22px;
      color: #413836;
      padding-top: 10px;
    }
  }
}

.iframe-wrapper {
  width: 100%;
  height: 41px;
  padding: 9px 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  margin-top: 18px;
}