.icon {
    display: inline-block;
    margin: 0 auto;
    font-size: 0;
    margin-right: 5px;
    position: relative;
    top: -5px;
}

.icon {
    &-camera {
        width: 18px;
        height: 18px;
        background: url(../img/icon-camera.png) center center/18px no-repeat;
    }

    &-video {
        width: 21px;
        height: 18px;
        background: url(../img/icon-video.png) center center/21px no-repeat;
    }
}
