// style index ( momentary )
.index-page {
  .heading {
    font-size: 40px;
    font-weight: $font-weight-bold;
    text-transform: uppercase;
  }

  ul {
    margin-top: 40px;

    li {
      list-style-type: space-counter;
    }

    a {
      font-size: 16px;
      text-transform: capitalize;
      padding-left: 10px;
    }
  }
}

// main style
body {
  font-size: 16px;
}

// global style
.no-scroll {
  overflow: hidden;
}

.no-scroll {
  overflow: hidden;
}

.articlepage-wrapper {
  .breadcrumbs-wrapper {
    margin-bottom: 14px;
  }

  .box-multimedia {
    margin-bottom: 0 !important;
  }
}

.searchpage-wrapper {
  .breadcrumbs-wrapper {
    background: #f7f7f7;

    .active {
      color: #413836 !important;
    }
  }
}

.bold {
  font-weight: $font-weight-bold !important;
}

.iframe-wrapper {
  width: 100%;
  height: 41px;
  padding: 9px 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  margin-top: 18px;
}

.promo-wrapper {
  margin-bottom: 22px;
  text-align: center;
  width: 100%;
}

// style nav tab
.tab-pane {
  display: none;

  &.active {
    display: block;
  }
}

.abf-homepage {
  margin-bottom: 22px;

  .primary-wrapper {
    margin-bottom: 20px;

    .story {
      &__thumb {
        width: auto;
        margin: 0 -20px;
        height: 56vw;
      }

      &__heading a {
        font-weight: $font-weight-bold;
        font-size: 24px;
        line-height: 32px;
        color: #413836;
        padding-top: 10px;
      }

      &__time {
        font-weight: $font-weight-normal;
        font-size: 13px;
        line-height: 18px;
        display: block;
        margin-top: 8px;
        color: #888888;
      }

      &__summary {
        font-weight: $font-weight-normal;
        font-size: 14px;
        line-height: 22px;
        color: #888888;
        margin-top: 8px;
      }
    }
  }

  .secondary-wrapper {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;

    .story {
      width: calc(50% - 10px);

      &__thumb {
        height: 28vw;
        width: 100%;
      }

      &__heading a {
        font-weight: $font-weight-medium;
        font-size: 16px;
        line-height: 22px;
        color: #413836;
        padding-top: 8px;
      }
    }
  }

  .third-wrapper {
    .story {
      margin-top: 15px;
      padding-top: 15px;
      border-top: 1px solid #eee;

      &:first-child {
        margin-top: 0;
        padding-top: 0;
        border-top: none;
      }

      &__heading a {
        font-weight: $font-weight-normal;
        font-size: 14px;
        line-height: 22px;
        color: #413836;
      }
    }
  }
}


.zone-1 {
  padding: 24px 20px;
  margin: 0 -20px;
  margin-bottom: 22px;
  background-color: #FFF6DE;

  .wrap-heading {
    @include bottom-heading();
  }

  .heading {
    @include style-heading();
    background-color: #fff6de;
  }

  .box-content {
    margin-top: 20px;
  }

  .cate {
    font-weight: $font-weight-normal;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    padding: 9px 20px;
    background: #E33A3C;
    border-radius: 20px;
    display: inline-block;
    margin-top: 9px;
  }

  .rank-1 {
    margin-bottom: 20px;

    .story {
      position: relative;

      &::before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(360deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
      }

      &__thumb {
        width: 100%;
        height: 56vw;
      }

      &__heading a {
        position: absolute;
        bottom: 11px;
        left: 18px;
        font-weight: $font-weight-bold;
        font-size: 20px;
        line-height: 26px;
        color: #FFFFFF;
      }
    }
  }

  .rank-2 {
    display: flex;
    flex-wrap: wrap;

    .story {
      width: calc(50% - 10px);
      margin-right: 20px;

      &:nth-child(2n+2) {
        margin-right: 0;
      }

      &__thumb {
        height: 28vw;
        width: 100%;
      }

      &__heading a {
        font-weight: $font-weight-medium;
        font-size: 16px;
        line-height: 22px;
        color: #413836;
      }
    }
  }
}


.box-news {
  margin-bottom: 22px;

  .wrap-heading {
    @include bottom-heading()
  }

  .heading {
    @include style-heading();
  }

  .box-heading {
    margin-bottom: 15px;
  }

  .box-heading {}

  .story {
    &__thumb {
      width: calc(100% - 20px);
      height: 46vw;
    }

    &__heading a {
      font-weight: $font-weight-medium;
      font-size: 16px;
      line-height: 22px;
      color: #413836;
      padding-top: 10px;
    }
  }

  // Show half of next slide without Center Mode in Slick Slider
  .slick-list {
    padding: 0 17% 0 0 !important;
  }
}

.box-hot-news {
  margin-bottom: 30px;

  .box-heading {
    margin-bottom: 20px;
  }

  .heading {
    @include read-heading();
  }

  .box-content {
    .story {
      margin-top: 20px;
      padding-top: 20px;
      border-top: 1px solid #eee;
      overflow: hidden;

      &:first-child {
        margin-top: 0;
        padding-top: 0;
        border-top: none;
        background: url(../img/number-1.png) bottom right/45px no-repeat;
      }

      &:nth-child(2) {
        background: url(../img/number-2.png) bottom right/59px no-repeat;
      }

      &:nth-child(3) {
        background: url(../img/number-3.png) bottom right/59px no-repeat;
      }

      &:nth-child(4) {
        background: url(../img/number-4.png) bottom right/59px no-repeat;
      }

      &:nth-child(5) {
        background: url(../img/number-5.png) bottom right/59px no-repeat;
      }

      &__thumb {
        width: 33%;
        height: 20vw;
        float: left;
        margin-right: 15px;
      }

      &__heading a {
        font-weight: $font-weight-normal;
        font-size: 14px;
        line-height: 20px;
        color: #413836;
      }
    }
  }
}

.box-multimedia {
  background: #413836;
  margin: 0 -20px;
  padding: 26px 20px;
  margin-bottom: 22px;

  .heading {
    @include style-heading();
    margin-bottom: 9px;
    display: block;
    color: #fff;
    background-color: #413836;
  }

  .cate {
    justify-content: space-between;
    display: flex;
    align-items: center;

    a {
      background: rgba(255, 255, 255, 0.8);
      border-radius: 20px;
      font-weight: $font-weight-normal;
      font-size: 14px;
      line-height: 16px;
      width: 85px;
      height: 34px;
      color: #666666;
      display: flex;
      align-items: center;
      justify-content: center;

      @media (min-width:375px) {
        width: 105px;
      }

      &.active {
        background: #E33A3C;
        color: #fff;
      }
    }
  }

  .box-heading {
    margin-bottom: 20px;
  }

  .rank-1 {
    margin-bottom: 20px;

    .story {
      &__thumb {
        width: 100%;
        height: 51vw;
        position: relative;
      }

      .icon-video {
        background: url(../img/icon-player.png) rgba(0, 0, 0, 0.3) center right 16px/20px no-repeat !important;
        width: 60px;
        height: 60px;
        border: 1px solid #FFFFFF;
        position: absolute;
        border-radius: 50%;
        top: auto;
        bottom: 20px;
        left: 20px;
      }

      .icon-camera {
        background: url(../img/icon-camera_ver2.png) rgba(0, 0, 0, 0.3) center center/20px no-repeat !important;
        width: 60px;
        height: 60px;
        border: 1px solid #FFFFFF;
        position: absolute;
        border-radius: 50%;
        top: auto;
        bottom: 20px;
        left: 20px;
      }

      &__heading a {
        font-weight: $font-weight-bold;
        font-size: 24px;
        line-height: 32px;
        color: #FFFFFF;
        padding-top: 15px;
      }
    }
  }

  .rank-2 {
    display: flex;
    flex-wrap: wrap;


    .story {
      width: calc(50% - 10px);
      margin-right: 20px;
      margin-top: 20px;

      &:nth-child(2n-2) {
        margin-right: 0;
      }

      &:nth-child(-n+2) {
        margin-top: 0;
      }

      &__thumb {
        height: 28vw;
        width: 100%;
      }

      &__heading a {
        font-weight: $font-weight-normal;
        font-size: 16px;
        line-height: 22px;
        color: #DDDDDD;
        padding-top: 8px;

        .icon {
          top: 2px;
        }
      }
    }
  }
}

.box-info {
  margin-bottom: 22px;

  .box-heading {
    margin-bottom: 15px;
  }

  .wrap-heading {
    @include bottom-heading();
  }

  .heading {
    @include style-heading();
  }

  .rank-1 {
    .story {
      &__thumb {
        height: 51vw;
      }

      &__heading a {
        font-weight: $font-weight-bold;
        font-size: 18px;
        line-height: 24px;
        padding-top: 10px;
        color: #413836;
      }

      &__time {
        margin-top: 10px;
        font-weight: $font-weight-normal;
        font-size: 13px;
        line-height: 18px;
        color: #888888;
      }
    }
  }

  .rank-2 {
    margin-top: 16px;
    padding-top: 20px;
    border-top: 1px solid #EEEEEE;

    .story {
      overflow: auto;
      margin-top: 20px;
      padding-top: 20px;
      border-top: 1px solid #EEEEEE;

      &:first-child {
        margin-top: 0;
        padding-top: 0;
        border-top: none;
      }

      &__thumb {
        width: 33%;
        height: 20vw;
        float: left;
        margin-right: 15px;
      }

      &__heading a {
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
        color: #413836;
      }
    }
  }
}

.box-calendar {
  background: #f7f7f7;
  border-radius: 3px;
  margin-bottom: 30px;

  .heading {
    @include read-heading();
    overflow: hidden;
  }

  .box-content {
    padding: 14px 20px 24px;

    .story {
      margin-top: 16px;

      &:first-child {
        margin-top: 0;
      }

      &__heading a {
        font-weight: $font-weight-normal;
        font-size: 14px;
        line-height: 22px;
        color: #222222;
        position: relative;
        padding-left: 14px;

        &::before {
          position: absolute;
          content: "";
          width: 4px;
          height: 4px;
          border-radius: 50%;
          background: #e33a3c;
          left: 0;
          top: 8px;
        }
      }
    }
  }
}

.box-featured {
  background: #f7f7f7;
  border-radius: 3px;
  padding: 20px 20px 25px;
  margin: 0 -20px;
  margin-bottom: 10px;

  .box-heading {
    margin-bottom: 13px;
    width: 260px;
    overflow: hidden;
  }

  .meta {
    font-family: "Raleway";
    font-weight: $font-weight-semibold;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    color: #413836;
  }

  .heading {
    font-family: "Raleway";
    font-weight: $font-weight-bold;
    font-size: 22px;
    line-height: 30px;
    text-transform: uppercase;
    color: #e33a3c;
    position: relative;

    &::after {
      position: absolute;
      content: "";
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: #e33a3c;
      top: 50%;
      transform: translateY(-50%);
      margin-left: 16px;
    }
  }

  .story {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #ddd;
    overflow: auto;

    &:first-child {
      margin-top: 0;
      padding-top: 0;
      border-top: none;
    }

    &__thumb {
      width: 33%;
      height: 20vw;
      float: left;
      margin-right: 15px;
    }

    &__heading a {
      font-weight: $font-weight-normal;
      font-size: 14px;
      line-height: 20px;
      color: #413836;
    }
  }

}

.box-timeline {
  margin-bottom: 20px;

  .story-wrapper {
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
  }

  .story {
    overflow: auto;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #eee;

    &__thumb {
      width: 33%;
      height: 20vw;
      float: left;
      margin-right: 15px;
    }

    &__heading a {
      font-weight: 500;
      font-size: 16px;
      line-height: 22px;
      color: #413836;
    }
  }
}

.load-more-wrapper {
  .load-more {
    background: #E33A3C;
    border-radius: 20px;
    font-weight: $font-weight-medium;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    display: block;
    padding: 12px 54px;
    margin: 0 auto;
  }
}

.breadcrumbs-wrapper {
  margin: 0 -20px;
  height: 40px;
  position: relative;
  background: #f7f7f7 url(../img/chevron-down.png) center right 20px/13px no-repeat;
  padding: 0 20px;

  .breadcrumbs {
    height: 40px;
    display: flex;
    align-items: center;

    li:first-child {
      a {
        margin-left: 0;
        padding-left: 0;

        &::before {
          display: none;
        }
      }
    }

    a {
      font-weight: $font-weight-normal;
      font-size: 14px;
      line-height: 16px;
      color: #413836;
      position: relative;
      margin-left: 10px;
      padding-left: 15px;

      &.active {
        font-weight: $font-weight-medium;
        font-size: 14px;
        line-height: 16px;
        text-transform: uppercase;
        color: #E33A3C;
      }

      &::before {
        position: absolute;
        content: "/";
        width: 2px;
        height: 16px;
        top: 1px;
        left: 0;
      }
    }
  }

  .cate {
    display: none;
    background: #eee;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
    border-radius: 0 0 3px 3px;
    position: absolute;
    width: -webkit-fill-available;
    margin: 0 -20px;
    padding: 16px 20px 24px;
    z-index: 1;

    li {
      margin-top: 8px;

      &:first-child {
        margin-top: 0;
      }
    }

    a {
      font-weight: $font-weight-normal;
      font-size: 13px;
      line-height: 20px;
      color: #666666;
      position: relative;
      padding-left: 14px;
      display: block;
      width: 100%;

      &::before {
        position: absolute;
        content: "";
        width: 4px;
        height: 4px;
        top: 7px;
        border-radius: 50%;
        left: 0;
        background-color: #e33a3c;

      }
    }
  }

  .mask-breadcrumbs {
    position: fixed;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    // display: block;
    right: 0;
    z-index: 0;
    display: none;
  }
}

.box-suggestion {
  margin-bottom: 24px;

  .wrap-heading {
    @include bottom-heading();
  }

  .heading {
    @include style-heading();
  }

  .box-heading {
    margin-bottom: 15px;
  }

  .box-content {
    display: flex;
    flex-wrap: wrap;

    .story {
      width: calc(50% - 10px);
      margin-right: 20px;
      margin-top: 16px;

      &:nth-child(2n-2) {
        margin-right: 0;
      }

      &:nth-child(-n+2) {
        margin-top: 0;
      }

      &__thumb {
        height: 28vw;
        width: 100%;
      }

      &__heading a {
        font-weight: $font-weight-medium;
        font-size: 16px;
        line-height: 22px;
        color: #413836;
      }
    }
  }
}

.keyword-wrapper {
  margin-top: 20px;
  margin-bottom: 20px;

  .key {
    font-size: 16px;
    line-height: 19px;
    color: #413836;
    margin-bottom: 10px;
  }

  .focused-text {
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #E33A3C;
  }

  .result {
    background: #E33A3C;
    border-radius: 20px;
    font-size: 14px;
    line-height: 16px;
    text-align: right;
    padding: 7px 20px;
    color: #FFFFFF;
    width: fit-content;
  }
}

.multimedia-wrapper {
  margin-top: 20px;
  margin-bottom: 30px;

  .story-wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .story {
    width: calc(50% - 10px);
    margin-top: 20px;
    margin-right: 20px;

    &:nth-child(-n+2) {
      margin-top: 0;
    }

    &:nth-child(2n-2) {
      margin-right: 0;
    }

    &__thumb {
      width: 100%;
      height: 28vw;
    }

    &__heading a {
      font-size: 16px;
      line-height: 22px;
      color: #413836;
      padding-top: 8px;
    }
  }
}


.login-form {
  width: 100%;
  margin: 0 auto;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 30px;
  max-width: 425px;

  .title {
    font-size: 23px;
    color: $primary;
    text-align: center;
    margin-bottom: 20px;
    font-weight: $font-weight-medium;
  }

  .register {
    color: #E33A3C;
    font-weight: $font-weight-bold;
  }

  form-field {
    display: flex;
    align-items: center;
    position: relative;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    height: 36px;
    margin: 0 auto;
    margin-bottom: 20px;
    padding-right: 10px;
    overflow: hidden;

    input {
      outline: none;
      border: none;
      width: 100%;
      height: 30px;
    }

    i {
      color: #555;
      font-size: 16px;
      margin-right: 10px;
      padding: 9px 12px;
      background-color: #eee;
    }
  }

  .forget-password {
    color: #E33A3C;
    margin-bottom: 30px;
    display: block;
  }

  .social-wrapper {
    p {
      font-style: italic;
      color: #222222;
      text-align: center;
      overflow: hidden;
      position: relative;
      margin-bottom: 20px;

      &::before,
      &::after {
        position: absolute;
        content: '';
        width: 100%;
        height: 1px;
        background: #ccc;
        right: calc(-50% - 80px);
        top: 50%;
        transform: translateY(-50%);
      }

      &::before {
        left: calc(-50% - 80px);
      }
    }

  }

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    >* {
      width: 35px;
      height: 35px;
      border-radius: 6px;
      display: block;
      font-size: 0;
      margin-left: 20px;
      cursor: pointer;

      &:first-child {
        margin-left: 0;
      }
    }

    .facebook {
      background: url(../img/facebook.png) center center/35px no-repeat;
    }

    .google {
      background: url(../img/google.png) center center/35px no-repeat;
    }

    .nps {
      background: url(../img/nps.png) center center/35px no-repeat;
    }
  }

  .btn-login {
    background-color: #E33A3C;
    color: #fff;
    height: 34px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
  }
}