<header class="page-header">
    <div class="container">
        <h1 class="primary-wrapper">
            <a href="./index.html" class="logo">logo</a>
        </h1>
        <div class="secondary-wrapper">
            <span class="user-wrapper">
                <i class="fal fa-user"></i>
            </span>
            <div class="search">
                <i class="fal fa-search"></i>
            </div>
            <div class="hamburger">
                <i class="fal fa-bars active"></i>
            </div>
        </div>
    </div>
</header>
<div class="navigation">
    <ul class="menu">
        <li class="has-sub">
            <a href="">Thời sự</a>
            <span class="icon icon-arrow"></span>
            <ul class="sub-menu">
                <li><a href="#">Chính trị</a></li>
                <li><a href="">Kinh tế</a></li>
                <li><a href="">Văn hoá</a></li>
                <li><a href="">An ninh - Quốc phòng</a></li>
                <li><a href="">Khoa học - Công nghệ</a></li>
                <li><a href="">Giáo dục</a></li>
            </ul>
        </li>
        <li><a href="">Thế giới</a></li>
        <li><a href="">Nghiệp vụ Tuyên truyền miệng</a></li>
        <li><a href="">Nghị quyết và đời sống</a></li>
        <li><a href="">Thông tin Chuyên đề</a></li>
        <li><a href="">Hoạt động Báo Cáo Viên</a></li>
        <li class="has-sub"><a href="">Các bản tin</a>
            <span class="icon icon-arrow"></span>
            <ul class="sub-menu">
                <li><a href="#">Chính trị</a></li>
                <li><a href="">Kinh tế</a></li>
                <li><a href="">Văn hoá</a></li>
                <li><a href="">An ninh - Quốc phòng</a></li>
                <li><a href="">Khoa học - Công nghệ</a></li>
                <li><a href="">Giáo dục</a></li>
            </ul>
        </li>
    </ul>
</div>

<div class="search-wrapper">
    <div class="region-search">
        <i class="fal fa-search"></i>
        <input type="text" class="search" placeholder="Tìm kiếm...">
    </div>
</div>

<div class="mask-header">mask</div>