<header class="page-header">
    <div class="container">
        <div class="top-header">
            <time class="time">Tuesday, 9/11/2021</time>
            <div class="wrapper">
                <div class="search-wrapper">
                    <input type="text" placeholder="Tìm kiếm">
                    <i class="fal fa-search"></i>
                </div>
                <ul class="account-wrapper">
                    <li><a href="">Đăng ký</a></li>
                    <li><a href="">Đăng nhập</a></li>
                </ul>
            </div>
        </div>
        <h1 class="logo-wrapper">
            <a href="" class="logo"> logo</a>
        </h1>
    </div>
    <ul class="nav-wrapper">
        <li><a class="home" href=""><i class="fas fa-home-alt"></i></a></li>
        <li><a href="">thời sự</a></li>
        <li><a href="">thế giới</a></li>
        <li><a href="">nghị quyết và đời sống</a></li>
        <li><a href="">hoạt động báo cáo viên</a></li>
        <li><a href="">nghiệp vụ tuyên truyền miệng</a></li>
        <li><a href="">thông tin chuyên đề</a></li>
        <li><a href="">các bản tin</a></li>
        <li class="humburger-wrapper">
            <a class="humburger" href=""><i class="fas fa-bars"></i></a>
            <ul class="nav-sub">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias magnam cupiditate expedita, tempore
                ducimus vero blanditiis nulla voluptate voluptatum numquam repellendus inventore nobis libero, et modi
                illo doloribus voluptatem quod.
            </ul>
        </li>
    </ul>
</header>