<header class="page-header">
    <div class="container">
        <div class="top-header">
            <time class="time">Tuesday, 9/11/2021</time>
            <div class="wrapper">
                <div class="search-wrapper">
                    <input type="text" placeholder="Tìm kiếm">
                    <i class="fal fa-search"></i>
                </div>
                <ul class="account-wrapper">
                    <li><a href="">Đăng ký</a></li>
                    <li><a href="">Đăng nhập</a></li>
                </ul>
            </div>
        </div>
        <h1 class="logo-wrapper">
            <a href="index.html" class="logo"> logo</a>
        </h1>
    </div>
    <ul class="nav-wrapper">
        <li><a class="home" href=""><i class="fas fa-home-alt"></i></a></li>
        <li><a href="" class="active">thời sự</a></li>
        <li><a href="">thế giới</a></li>
        <li><a href="">nghị quyết và đời sống</a></li>
        <li><a href="">hoạt động báo cáo viên</a></li>
        <li><a href="">nghiệp vụ tuyên truyền miệng</a></li>
        <li><a href="">thông tin chuyên đề</a></li>
        <li><a href="">các bản tin</a></li>
        <li class="humburger-wrapper">
            <a class="humburger" href=""><i class="fas fa-bars"></i></a>
            <div class="nav-sub">
                <div class="wrapper">
                    <ul>
                        <li><a href="" class="cate">Thời sự</a></li>
                        <li><a href="" class="">Chính trị</a></li>
                        <li><a href="" class="">Kinh tế</a></li>
                        <li><a href="" class="">Văn hoá</a></li>
                    <li><a href="" class="">An ninh - Quốc phòng</a></li>
                        <li><a href="" class="">Khoa học - Công nghệ</a></li>
                        <li><a href="" class="">Y tế</a></li>
                        <li><a href="" class="">Giáo dục</a></li>
                    </ul>
                </div>
                <div class="wrapper">
                    <ul>
                        <li><a href="" class="cate">Thế giới</a></li>
                        <li><a href="" class="cate">Nghiệp vụ Tuyên truyền miệng</a></li>
                    </ul>
                </div>
                <div class="wrapper">
                    <ul>
                        <li><a href="" class="cate">Nghị quyết và Đời sống</a></li>
                        <li><a href="" class="cate">Thông tin Chuyên đề</a></li>
                    </ul>
                </div>
                <div class="wrapper">
                    <ul>
                        <li><a href="" class="cate">Hoạt động báo cáo viên</a></li>
                        <li><a href="" class="cate">Các bản tin</a></li>
                        <li><a href="" class="">Báo cáo viên</a></li>
                        <li><a href="" class="">Công tác tuyên giáo</a></li>
                        <li><a href="" class="">Sinh hoạt chi bộ</a></li>
                    </ul>
                </div>
            </div>
        </li>
    </ul>
</header>