.page-header {
    height: 205px;
    width: 100%;
    display: block;
    background: url(../img/bg-header.png) center top/100% no-repeat;

    .top-header {
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        height: 51px;
        padding-top: 10px;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }

    .time {
        font-weight: $font-weight-normal;
        font-size: 12px;
        line-height: 14px;
        color: #ffffff;
        padding-top: 8px;
        display: block;
    }

    .wrapper {
        display: flex;
    }

    .search-wrapper {
        position: relative;

        i {
            font-weight: 300;
            font-size: 14px;
            line-height: 14px;
            text-align: right;
            text-transform: uppercase;
            color: #ffffff;
            position: absolute;
            right: 0;
            padding: 8px 15px;
        }
    }

    input {
        width: 180px;
        height: 30px;
        background: rgba(255, 255, 255, 0.3);
        border-radius: 20px;
        padding-left: 15px;
        padding-right: 40px;
        border: none;
        outline: none;
        font-weight: $font-weight-normal;
        font-size: 12px;
        line-height: 14px;
        color: #ffffff;

        &::placeholder {
            font-weight: $font-weight-normal;
            font-size: 12px;
            line-height: 14px;
            color: #ffffff;
        }
    }

    .account-wrapper {
        display: flex;
        align-items: center;
        margin-left: 5px;

        li:first-child {
            a {
                &::before {
                    display: none;
                }
            }
        }

        a {
            font-weight: $font-weight-normal;
            font-size: 12px;
            line-height: 14px;
            padding: 5px;
            position: relative;
            color: #fff;

            &::before {
                position: absolute;
                content: "/";
                right: 3px;
                top: 5px;
                width: 100%;
                display: block;
            }
        }
    }

    .logo-wrapper {
        display: flex;
        align-items: center;
        padding-top: 12px;
        padding-bottom: 8px;
        justify-content: center;
    }

    .logo {
        background: url(../img/logo-tuyengiao.png) center center/408px no-repeat;
        width: 408px;
        height: 110px;
        display: block;
        font-size: 0;
    }

    .nav-wrapper {
        width: calc(100% - 40px);
        height: 50px;
        background: #fece26;
        border-radius: 3px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;

        >li a {
            font-weight: $font-weight-medium;
            font-size: 14px;
            line-height: 16px;
            text-transform: uppercase;
            color: #413836;
            padding: 17px 11px;
            transition: 0.5s ease;

            &:hover,
            &.active {
                color: #e33a3c;
                background: rgba(255, 255, 255, 0.8);
            }
        }

        .home {
            margin-right: 10px;
        }

        .humburger {
            margin-left: 10px;
        }

        .home,
        .humburger {
            font-size: 0;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            background: #f8c100;
            position: relative;
            transition: 0.5s ease;
            cursor: pointer;

            i {
                font-weight: 300;
                font-size: 21px;
                line-height: 21px;
                text-transform: uppercase;
                color: #413836;
            }

            &:hover,
            &.active {
                background: rgba(255, 255, 255, 0.8);

                i {
                    font-weight: 300;
                    font-size: 20px;
                    line-height: 20px;
                    text-transform: uppercase;
                    color: #e33a3c;
                }
            }
        }

        .humburger-wrapper {
            padding: 10px 10px 10px 0;
            cursor: pointer;

            &:hover .nav-sub {
                display: flex;
                // display: block;
                justify-content: space-between;
            }

            &:hover .humburger {
                background: rgba(255, 255, 255, 0.8);

                i {
                    font-weight: 300;
                    font-size: 20px;
                    line-height: 20px;
                    text-transform: uppercase;
                    color: #e33a3c;
                }
            }
        }

        .nav-sub {
            position: absolute;
            width: calc(100% - 40px);
            right: 20px;
            margin-top: 5px;
            background: #f7f7f7;
            box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.15);
            border-radius: 0px 0px 3px 3px;
            z-index: 1;
            padding: 30px 115px;
            display: none;
            transition: 0.5s;
        }

        .wrapper {
            width: 270px;
        }

        ul a {
            font-weight: $font-weight-normal;
            font-size: 13px;
            line-height: 20px;
            color: #666666;
            display: block;
            
        }

        .cate {
            font-weight: $font-weight-medium;
            font-size: 16px;
            line-height: 24px;
            color: #413836;
        }
    }
}
