<header class="page-header">
    <div class="container">
        <div class="top-header">
            <time class="top-header__left">Tuesday, 9/11/2021</time>
            <ul class="top-header__right">
                <li><a href="">Vietnam Law & Legal Forum Magazine</a></li>
                <li><a href="">Official Gazette</a></li>
                <li><a href="">About us</a></li>
                <li><a href="">Contact</a></li>
                <li><a href="">Subscribe</a></li>
            </ul>
        </div>
    </div>
</header>