<div class="abf-homepage">
    <div class="content-left">
        <div class="top-wrapper">
            <article class="story">
                <figure class="story__thumb">
                    <a href="" title=""> <img src="../figurations/600x400.png" alt=""></a>
                </figure>
                <h5 class="story__heading">
                    <a href="#">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod, nobis?
                    </a>
                </h5>
                <div class="story__time">
                    13:07 - 06/01/2022
                </div>
                <div class="story__summary">
                    Năm nay, nhiều hiện tượng thiên văn kỳ thú có thể quan sát được tại Việt Nam sẽ diễn ra mà những
                    người yêu thiên văn không nên bỏ lỡ. Chuyên gia Đặng Vũ Tuấn Sơn, Chủ tịch Hội Thiên văn và Vũ trụ
                    học Việt Nam (VACA) thông tin về các sự kiện này.
                </div>
            </article>
        </div>
        <div class="bottom-wrapper">
            <article class="story">
                <figure class="story__thumb">
                    <a href="" title=""> <img src="../figurations/350x234.png" alt=""></a>
                </figure>
                <h5 class="story__heading">
                    <a href="#">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus
                    </a>
                </h5>
            </article>
            <article class="story">
                <figure class="story__thumb">
                    <a href="" title=""> <img src="../figurations/350x234.png" alt=""></a>
                </figure>
                <h5 class="story__heading">
                    <a href="#">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus
                    </a>
                </h5>
            </article>
            <article class="story">
                <figure class="story__thumb">
                    <a href="" title=""> <img src="../figurations/350x234.png" alt=""></a>
                </figure>
                <h5 class="story__heading">
                    <a href="#">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus
                    </a>
                </h5>
            </article>
        </div>
    </div>
    <div class="content-right">
        <article class="story">
            <h5 class="story__heading">
                <a href="#">
                    Nhật Bản và Australia ký thỏa thuận hợp tác quốc phòng
                </a>
            </h5>
        </article>
        <article class="story">
            <h5 class="story__heading">
                <a href="#">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure.
                </a>
            </h5>
        </article>
        <article class="story">
            <h5 class="story__heading">
                <a href="#">
                    Lorem, Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae dolorem quaerat repudiandae obcaecati minima, architecto nemo id ab? Magnam magni cupiditate facere in officia minima sunt at optio rem! Iure. ipsum dolor sit amet consectetur adipisicing elit. Nisi.
                </a>
            </h5>
        </article>
        <article class="story">
            <h5 class="story__heading">
                <a href="#">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil inventore nisi qui!
                </a>
            </h5>
        </article>
        <article class="story">
            <h5 class="story__heading">
                <a href="#">
                    Nhật Bản và Australia ký thỏa thuận hợp tác quốc phòng
                </a>
            </h5>
        </article>
        <article class="story">
            <h5 class="story__heading">
                <a href="#">
                    Nhật Bản và Australia ký thỏa thuận hợp tác quốc phòng
                </a>
            </h5>
        </article>
        <article class="story">
            <h5 class="story__heading">
                <a href="#">
                    Nhật Bản và Australia ký thỏa thuận hợp tác quốc phòng
                </a>
            </h5>
        </article>
        <article class="story">
            <h5 class="story__heading">
                <a href="#">
                    Nhật Bản và Australia ký thỏa thuận hợp tác quốc phòng
                </a>
            </h5>
        </article>
    </div>
</div>