.abf-homepage {
    display: flex;
    justify-content: space-between;
    margin-bottom: 46px;

    .content-left {
        width: 870px;
    }

    .content-right {
        width: 270px;

        .story {
            margin-top: 15px;
            padding-top: 15px;
            border-top: 1px solid #EEEEEE;

            &:first-child {
                margin-top: 0;
                padding-top: 0;
                border-top: none;
            }

            &__heading a {
                font-weight: $font-weight-normal;
                font-size: 14px;
                line-height: 20px;
            }
        }
    }

    .top-wrapper {
        .story {
            &__thumb {
                width: 570px;
                height: 320px;
                float: left;
                margin-right: 30px;
            }

            &__heading a {
                font-weight: $font-weight-bold;
                font-size: 28px;
                line-height: 36px;

            }

            &__time {
                font-weight: $font-weight-normal;
                font-size: 13px;
                line-height: 18px;
                color: #888888;
                margin-top: 10px;
            }

            &__summary {
                font-weight: $font-weight-normal;
                font-size: 14px;
                line-height: 22px;
                color: #888888;
                margin-top: 10px;
            }
        }
    }

    .bottom-wrapper {
        margin-top: 30px;
        display: flex;
        justify-content: space-between;

        .story {
            width: 270px;

            &__thumb {
                height: 180px;
                width: 270px;
            }

            &__heading a {
                padding-top: 10px;
                font-weight: $font-weight-medium;
                font-size: 16px;
                line-height: 22px;
            }
        }
    }
}